@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  color: #ffff;
  background: #f27405;
}

.mask-partners-image {
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  overflow: hidden;
}

.nav-background {
  backdrop-filter: blur(10px) opacity(1);
  background-color: rgba(255, 255, 255, 0.05);
}

@layer utilities {
  /* Layout configuration */
  .max-w-screen {
    max-width: 1920px;
    margin: 0 auto;
  }

  .section-padding {
    padding: 0 16px;
  }

  @screen md {
    .section-padding {
      padding: 0 32px;
    }
  }

  @screen lg {
    .section-padding {
      padding: 0 64px;
    }
  }

  @screen xl {
    .section-padding {
      padding: 0 128px;
    }
  }

  /* Animations and Transitions configuration */

  .transform-scale-y-0 {
    transform: scaleY(0);
  }

  .transform-scale-y-100 {
    transform: scaleY(1);
  }

  .transition-transform-react-s {
    transition: transform 0.1s;
    transition-timing-function: cubic-bezier(0.5, 0.02, 0.25, 1);
  }

  .transition-transform-react-m {
    transition: transform 0.2s;
    transition-timing-function: cubic-bezier(0.5, 0.02, 0.25, 1);
  }

  .transition-transform-react-l {
    transition: transform 0.45s;
    transition-timing-function: cubic-bezier(0.5, 0.02, 0.25, 1);
  }

  .transition-transform-attract-s {
    transition: transform 0.5s;
    transition-timing-function: cubic-bezier(0.5, 0.02, 0.25, 1);
  }

  .transition-transform-attract-m {
    transition: transform 0.75s;
    transition-timing-function: cubic-bezier(0.5, 0.02, 0.25, 1);
  }

  .transition-transform-attract-l {
    transition: transform 1.25s;
    transition-timing-function: cubic-bezier(0.5, 0.02, 0.25, 1);
  }

  .transition-color-react-s {
    transition: color 0.1s;
    transition-timing-function: cubic-bezier(0.5, 0.02, 0.25, 1);
  }

  .transition-color-react-m {
    transition: color 0.2s;
    transition-timing-function: cubic-bezier(0.5, 0.02, 0.25, 1);
  }

  .transition-color-react-l {
    transition: color 0.45s;
    transition-timing-function: cubic-bezier(0.5, 0.02, 0.25, 1);
  }

  .transition-color-attract-s {
    transition: color 0.5s;
    transition-timing-function: cubic-bezier(0.5, 0.02, 0.25, 1);
  }

  .transition-color-attract-m {
    transition: color 0.75s;
    transition-timing-function: cubic-bezier(0.5, 0.02, 0.25, 1);
  }

  .transition-color-attract-l {
    transition: color 1.25s;
    transition-timing-function: cubic-bezier(0.5, 0.02, 0.25, 1);
  }

  .transition-all-react-s {
    transition: all 0.1s;
    transition-timing-function: cubic-bezier(0.5, 0.02, 0.25, 1);
  }

  .transition-all-react-m {
    transition: all 0.2s;
    transition-timing-function: cubic-bezier(0.5, 0.02, 0.25, 1);
  }

  .transition-all-react-l {
    transition: all 0.45s;
    transition-timing-function: cubic-bezier(0.5, 0.02, 0.25, 1);
  }

  .transition-all-attract-s {
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0.5, 0.02, 0.25, 1);
  }

  .transition-all-attract-m {
    transition: all 0.75s;
    transition-timing-function: cubic-bezier(0.5, 0.02, 0.25, 1);
  }

  .transition-all-attract-l {
    transition: all 1.25s;
    transition-timing-function: cubic-bezier(0.5, 0.02, 0.25, 1);
  }
}
